.entete__nav{
    position: fixed;
    top:5px;
    right:20px;
    width : 400px;
    /* 2rem = 2*14px  */
    font-size: 2rem;
    background-color: beige;
    padding:10px;
}

.entete__nav a {
    text-decoration: none;
    padding:10px;

}
.entete__nav a:hover{
       background-color: rgb(92, 92, 78); 
       color:rgb(211, 110, 28)
}

.navigation, #chk-burger {
 display: none;
 position: fixed;
 top: 40px;
 right: 10px;
 background-color: black;
 padding: 10px;
 
}

.navigation{
    position: fixed;
    transform: translateX(120%);
    transition: transform 0.5s cubic-bezier(.28,-1.23,.34,1.61);
    
}
 
.navigation__bouton {
    position : fixed;
    top: 10px;
    right: 10px;
}
 
#chk-burger:checked ~ .navigation {
    display: block;
    transform: translateX(0);
}
 
.navigation a{
    display: block;
    color: #fff;
    background-color: #515151;
    text-decoration: none;
}

