*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 14px;
}

body{

margin :0;
padding:0;
/* overflow: hidden; */

}
h1,h2,h3 {
    margin: 0;
}

h1{
   margin:0;
  
   background-color:rgb(29, 188, 232);
  

}

p{
   background-color:rgba(28, 209, 34, 0.315);
   font-size: 20px;
}



section{
    min-height : 100vh;
}
figure{
    margin:0;
    padding:0;
}
figure > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

img{

}


.centre{
    
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff47;
    padding : 20px;
    min-height : 100vh;
    
}

.entete__centre h1{
    display: flex;
    justify-content: center;
 
    
    

}


.hero {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/age\ of\ war.png");
   
}

.milieu{
     min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("../images/Capture\ d’écran\ 2025-11-24\ 173337.png");
}

.formulaire{}
.formulaire__div{
    margin : 20px 0;
}
.formulaire__label{
    display:block;
}
.formulaire__input{
    margin: 10px 0;
}
.formulaire__input:checked{
    background-color: brown;
}






/* ///////////////////////////////////////// colloration des sections */
/*
.un{
    background-color: aqua;
}
.deux{
       background-color: rgb(0, 255, 42);
}
.trois{
       background-color: rgb(170, 30, 116);
}
.quatre{
       background-color: rgb(238, 255, 0);
}
*/

body > div:nth-of-type(1){
    background-color: rgb(0, 44, 114);

}

body > div:nth-of-type(3){
    background-color: rgb(51, 208, 19);
}
body > div:nth-of-type(4){
    background-color: rgb(208, 205, 11);
}
body > div:nth-of-type(5){
    background-color: rgb(40, 13, 158);
}